* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
  color: #636363;
  font-weight: 400;
}
.title__top {
  font-weight: 600;
  color: #f55f8d;
  font-size: 1.35rem;
  margin-bottom: 20px;
}
.headding__top {
  font-size: 4.375rem;
  font-weight: 800;
  color: #262626;
  margin-bottom: 20px;
}
.btn__gradient {
  padding: 20px 35px;
  font-size: 0.935rem;
  color: white;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 30px;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  transition: all 0.5s;
}
.btn__gradient:hover {
  background-position: right center;
}
.container {
  width: 1199px;
  margin: auto;
}
.section__padding__top {
  padding-top: 115px;
}
/* HEADER CONTENT */
.header__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content nav {
  display: flex;
  align-items: center;
}
.header__content nav ul li,
.header__content nav div {
  display: inline-block;
  padding: 55px 15px;
  list-style: none;
}
.header__content nav ul li a {
  color: #070120;
  font-size: 0.935rem;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
}
.header__content nav ul li:hover a {
  animation: upDown 0.3s;
  color: #f55f8d;
}
.header__content nav ul li i {
  font-size: 0.5625rem;
  vertical-align: top;
  margin-top: 5px;
  transition: all 0.5s;
}
.header__content nav ul li:hover i {
  color: #f55f8d;
}

/* CAROUSEL */
.carousel {
  padding-top: 180px;
  background-image: url("../image/pic2.png");
  background-position: top;
  background-size: 100%;
}
.carousel__content {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
}
.carousel__right {
  width: 40%;
}
.carousel__left .content_left p {
  font-size: 1.125rem;
  margin-bottom: 15px;
}

.content_left ul li {
  list-style: none;
  font-size: 1.25rem;
  padding: 10px 5px 10px 0;
}
.content_left ul li i {
  height: 35px;
  width: 35px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  color: white;
  font-size: 1.5rem;
  margin-right: 10px;
}
/* SERVICE */
.services {
  background-image: url("../image/bg2.png");
  background-position: top center;
  background-size: cover;
}
.service__title {
  text-align: center;
}
.service__content {
  display: flex;
  margin-top: 40px;
}
.service__content .service__item {
  width: calc(100% / 3);
  text-align: center;
  margin-right: 30px;
  /* padding: 0 15px; */
  transition: all 0.5s;
  transform: translateY(0);
}
.service__content .service__item:hover {
  transform: translateY(-20px);
}
.service__item__content {
  padding: 30px 45px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.service__item__content .sic__img img {
  width: 215px;
}
.sic__content h3 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #262626;
  margin: 15px 0;
}
/* ABOUT US  */
.about {
  background-image: url("../image/bg15.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 85px;
}
.about__content {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
}
.about__left {
  position: absolute;
  left: -17%;
  width: 60%;
}
.about__left img {
  width: 100%;
  border-radius: 0px 100px 100px 0;
}
.about__right {
  width: 50%;
}
.about__content .about__right .content_left p {
  margin-bottom: 15px;
  line-height: 1.6;
}
.about__content .about__right .content_left ul {
  margin-bottom: 30px;
}
.about__content .about__right .content_left ul li {
  font-size: 1rem;
}
.content_left ul li .content_left_i {
  background-image: none;
  color: #f55f8d;
  border: 2px solid #f55f8d;
  font-size: 1rem;
  height: 25px;
  width: 25px;
  line-height: 20px;
}
/* NUMBER  */
.number {
  text-align: center;
  background-image: url("../image/bg14.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0 50px;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__content .number__item i {
  font-size: 2.8125rem;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  color: white;
  width: 80px;
  height: 80px;
  display: inline-block;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.number__content .number__item p:first-of-type {
  font-size: 4.0625rem;
  color: #f55f8d;
  font-weight: 800;
}
.number__content .number__item p:last-of-type {
  font-size: 1rem;
  color: #262626;
}
/* FEATURES  */
.features {
  background-image: url("../image/bg2.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.features__content {
  display: flex;
}
.features__left,
.features__right {
  width: 50%;
}
.features__right .features__banner {
  margin-right: -90px;
}
.features__right .features__banner img {
  width: 100%;
  animation: moverotate 5s infinite;
}
.features__items {
  padding: 0 50px 30px 0;
}
.features__items:nth-last-of-type(2) {
  padding: 0 0 30px 50px;
}
.features__item {
  display: flex;
  position: relative;
  overflow: hidden;
  padding: 30px;
  align-items: center;
  background-color: white;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
}
.features__item::after {
  content: "";
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
}
.features__item:hover::after {
  opacity: 1;
}
.features__item div {
  z-index: 1;
  transition: all 1s;
}
.ft__left i {
  font-size: 5rem;
  color: #f55f8d;
  text-align: center;
  margin-right: 10px;
  transition: all 1s;
}
.features__item .ft__right h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: #262626;
  transition: all 1s;
}
.features__item:hover .ft__right,
.features__item:hover .ft__left i,
.features__item:hover .ft__right h3 {
  color: white;
}
/* PORTFOLIO */
.portfolio__content__title {
  text-align: center;
}
.portfolio__items {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(2, 1fr) 1.4fr;
  /* grid-template-rows: repeat(3,1fr); */
}
.pfl__item {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.pfl__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pfl__it1 {
  grid-column: 1 / span 2;
}
.pfl__it5 {
  grid-column: 1 / span 2;
}
.pfl__it6 {
  grid-column: 3/4;
  grid-row: 2/4;
}
.overplay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.75s;
}
.overplay__title {
  padding: 50px 30px;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.75s;
}
.overplay__title p {
  color: white;
  opacity: 0.5;
}
.overplay__title h3 {
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
}
.overplay__icon {
  position: absolute;
  top: 20px;
  right: 20px;
}
.overplay__icon i {
  text-align: center;
  color: white;
  font-size: 1.75rem;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 10px;
  transform: translate(20px, -20px);
  transition: all 0.75s;
}
.pfl__item:hover .overplay {
  opacity: 1;
}
.pfl__item:hover .overplay__icon i {
  transform: translate(0, 0);
}
.pfl__item:hover .overplay__title {
  transform: translateY(0);
  opacity: 1;
}

.pfl__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  /* display: block; */
  /* background-color: blue; */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  /* transform: translateX(50%); */
  transition: all 0.75s;
}
.pfl__item:hover::before {
  left: 125%;
}
/* PLAN  */
.plan {
  background-image: url("../image/bg16.png");
  background-size: cover;
  background-position: center;
}
.plan__content {
  text-align: center;
}
.plan__items__container {
  display: flex;
}
.plan__item {
  width: calc(100% / 3);
  margin-left: 30px;
}
.plan__item:nth-child(1) {
  margin-left: 0;
}
.plan__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  padding: 35px 60px;
  border: 3px solid transparent;
  transition: all 0.5s;
  border-image: 100 round;
  background-color: white;
}
.plan__img {
  width: 100%;
}
.plan__img h3 {
  color: #262626;
  font-weight: 700;
  font-size: 2rem;
}
.plan__img p span {
  font-weight: 800;
  font-size: 3.125rem;
  color: #f8ae56;
}
.plan__img p {
  font-weight: 600;
  font-size: 1.125rem;
  color: #262626;
}
.plan__img img {
  width: 125px;
}
.plan__info {
  width: 100%;
  text-align: left;
  border-top: 1px solid #e1e1f0;
}
.plan__info li {
  color: #262626;
}
.plan__info ul li .content_left_i {
  background-color: #feeff3;
  margin-right: 15px;
  border-color: transparent;
  font-size: 0.75rem;
}
.plan__item:hover .plan__item__content {
  border-image: url("../image/br.png") 1 round;
}
/* TESTIMONIAL */
.testimonial {
  background-image: url("../image/bg17.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-wrapper .swiper-slide {
  background: none;
}
.swiper-wrapper .sw-lide2 {
  padding: 0 50px;
}
.feedback {
  text-align: center;
  position: relative;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  width: 70%;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
}
.feedback h2 {
  font-size: 1.375rem;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.feedback i {
  display: block;
  position: absolute;
  top: 15px;
  left: 30px;
  transform: rotate(-180deg);
  font-size: 4.5rem;
  color: #f55f8d;
}
.feedback p {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: italic;
  padding: 0 15px 15px;
}
.feedback .test__rank {
  color: #f55f8d;
  margin-bottom: 20px;
  padding: 0 15px 15px;
  font-size: 1.25rem;
}
.test__pic {
  width: 100%;
  height: 180px;
  position: relative;
}
.test__pic img {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 6px solid #f55f8d;
  z-index: 1;
  left: 50%;
  top: 21px;
  transform: translate(-50%, 50%);
  transition: all 0.5s;
}
/* .test__pic:hover img{
    transform: translateY(0);
}
.test__pic:hover .shape__div{
    opacity: 1;
} */
/* .thumnail__swiper .test__pic {
  transform: translate(-50%, 0%);
  transition: all 0.5s;
} */
.thumnail__swiper .swiper-slide-thumb-active .test__pic img {
  transform: translate(-50%, 0%);
}
.thumnail__swiper .swiper-slide-thumb-active .test__pic .shape__div {
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
.test__pic .shape__div:before,
.shape__div:after {
  content: "";
  height: 15px;
  width: 15px;
  border-radius: 100%;
  background-color: #f55f8d;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}

.shape__div:after {
  bottom: -50px;
  height: 10px;
  width: 10px;
}
.shape__div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 20%;
  width: 60%;
  z-index: 0;
  background-color: #f55f8d;
  background-image: url("../image/pattern12.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: all 1s;
}
.heder_testi {
  padding-top: 115px;
  text-align: center;
}
.thumnail__swiper::before,
.thumnail__swiper::after {
  content: "";
  width: 30px;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2;
}
.thumnail__swiper::before {
  left: 0;
  background-image: linear-gradient(
    to right,
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}
.thumnail__swiper::after {
  right: 0;
  background-image: linear-gradient(
    to left,
    #fff 0,
    rgba(255, 255, 255, 0) 100%
  );
}
/* BLOG */
.blog {
  background-image: url("../image/bg16.png");
  background-size: cover;
  background-position: top center;
  padding-bottom: 50px;
}
.blog header {
  text-align: center;
}
.blog__item {
}
.blog__item .item__header img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.item__header {
  position: relative;
}

.blog__item .item__header .item__date {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 6px;
  padding: 10px 20px;
  color: white;
  font-size: 0.85rem;
  position: absolute;
  bottom: -20px;
  left: 15px;
}
.blogItem__container {
  background-color: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}
.blogItem__container .item__main {
  padding: 40px 15px;
}
.blogItem__container .item__main h3 {
  color: #262626;
  font-size: 1.5rem;
  font-weight: 700;
}
.blogItem__container .item__footer {
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 0.85rem;
  font-weight: 400;
  padding: 20px 15px;
  align-items: center;
}
.blogItem__container i {
  font-size: 1.375rem;
  vertical-align: middle;
}
.blogItem__container .item__footer div:first-child {
  margin-right: 15px;
}
.blogItem__container .item__footer i:nth-of-type(1),
.item__footer span:nth-of-type(2) {
  color: #f55f8d;
}
/* FOOTER FORM */
footer {
  background-image: url("../image/bg4.png");
  background-color: #0e1b1f;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
footer::before {
  content: "";
  background-image: url("../image/pattern2.png");
  width: 100%;
  height: 100%;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.form-container {
  max-width: 1199px;
  margin: 0 auto;
  position: relative;
}
.footer__top {
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  align-items: center;
  background-image: url("../image/pattern3.png");
}
.footer__top h2 {
  font-size: 1.75rem;
}
.footer__top h2,
.footer__top form {
  flex-basis: 50%;
}
.footer__top form {
  display: flex;
}
.footer__top form input {
  flex-grow: 1;
  padding: 15px;
  border: 1px solid white;
  outline: 0;
  border-radius: 0.5rem 0 0 0.5rem;
  color: #888;
  font-size: 0.95rem;
  transition: all 0.5s;
}
.footer__top form .btn__gradient {
  border-radius: 0 0.5rem 0.5rem 0;
}
.footer__top form input:hover {
  border-color: #f55f8d;
}
.footer__top form button:hover i {
  animation: toleftformright 0.5s forwards;
}
.footer__bottom {
  display: flex;
  padding: 70px 0;
}
.footer__bottom .footer__item {
  width: 25%;
}
.footer__item i {
  margin-right: 10px;
}
.footer__item li {
  padding: 0.5rem 0;
  line-height: 1.6;
}
.footer__bottom .footer__item a {
  text-decoration: none;
  font-size: 1rem;
  color: #636363;
  transition: all 0.5s;
}
.footer__bottom .footer__item a:hover {
  color: white;
}
.footer__bottom .footer__item h3 {
  font-weight: 700;
  font-size: 1.5rem;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: white;
  position: relative;
}

.footer__bottom .footer__item h3::after,
.footer__bottom .footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}
.footer__bottom .footer__item h3::before {
  width: 15px;
  left: 0;
}
.footer__bottom .footer__item h3::after {
  width: 45px;
  left: 20px;
}
.footer__bottom .footer__item ul li {
  list-style: none;
}
.footer__bottom .footer__item .contact__list li {
  align-items: center;
  display: flex;
}
.footer__bottom .footer__item .contact__list i {
  height: 40px;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
}
footer .footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
footer .footer__copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__copyright .container .footer__right a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__left span {
  color: #f55f8d;
}
footer .footer__copyright .container .footer__right a:hover {
  background-color: #f55f8d;
}
.backtotop {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  border-radius: 8px;
  line-height: 50px;
  text-align: center;
  display: block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
}
/* .backtotop i {
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 36px;
  color: #0bbbcc;
  border: 2px solid #0bbbcc;
  border-radius: 50%;
} */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
@keyframes upDown {
  /* 0%{
        transform: translateY(100%);
    } */

  50% {
    opacity: 0;
    transform: translateY(100%);
  }
  51% {
    opacity: 0;
    transform: translateY(-100%);
  }
  65% {
    opacity: 1;
  }
}
@keyframes toleftformright {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes moverotate {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
